doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Contact Us - MyCompany
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media='all')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body.container
    .jumbotron
      h1 Welcome to MyCompany!
    .content.col-xs-6
      h4
        | Please use the form below to contact us.
      br
      form
        each field in fields
          .form-group
            label(for=field.fieldId)
              strong #{field.name}
            input(id=field.fieldId).form-control(type='text', name=field.fieldId)
        .form-group
          label(for='email')
            strong What is your email address?
          input#email.form-control(type='text', name='email')
        button#contact.btn.btn-primary
          | Send
    script(src='/javascripts/contact.js')